@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url(/assets/FantasqueSansMono-Regular.ttf) format('ttf');
    font-display: swap;
}

:root {
    --text-color: #cdd6f4;
    --link-color: #74c7ec;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 
    'Fantasque Sans Mono', 
    monospace;
    font-size: 18px;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #1e1e2e;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 12px 6px;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a.buttona {
  text-decorations: none;
}

a:not(.buttona),
a:not(.buttona):visited {
    color: var(--link-color);
}

a:not(.buttona):active,
a:not(.buttona):hover:not(#top) {
    color: #1e1e2e;
    background-color: var(--link-color);
}

p, ul, ol, hr, section {
    margin: 12px 0;
}

hr {
  color: #cba6f7;
}

li {
    list-style-type: "❤ ";
}

#config {
  column-count: 2;
}

#top {
	color: #f5c2e7;
}

h2, h3, h4, h5, h6 {
    font-size: 1rem;
    position: relative;
    margin: 0.25rem 0;
}

h1 {
	font-size: 2rem;
	position: relative;
	margin: 0.25rem 0;
}

h2::before {
    color: #cba6f7;
    content: "~ ❤ ";
}

.button {
  width: 88px;
  height: 31px;
  margin: 5px;
}

